.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  color: #000;
  text-align: center;
  background: url('/public/images/svg-background.svg');
  background-size: cover;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.hero-section * {
  position: relative;
  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #004aad;
}

.hero-section p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
}

.hero-section .p-button {
  background-color: #004aad;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-section .p-button:hover {
  background-color: #ffcc00;
  color: #004aad;
}

.hero-section .button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.hero-section .button-group button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-section .button-group button:hover {
  background-color: #ffcc00;
  color: #004aad;
}

.connectivity-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  margin: 10px auto;
  text-align: left;
  background-color: #ffffff;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.connectivity-content {
  max-width: 50%;
}

.connectivity-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.connectivity-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.connectivity-image {
  max-width: 300px;
}

.connectivity-image img {
  width: 100%;
  height: auto;
}

.icon-section {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #ffffff;
}

.icon-section .icon {
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
}

.icon-section .icon:hover {
  transform: scale(1.1);
}

.icon-section .icon img {
  width: 80px;
  height: 80px;
}

.icon-section .icon p {
  margin-top: 10px;
  font-size: 1rem;
}

.features {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #121a51;
  font-weight: bold;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-card {
  background-color: #f1f6ff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.333% - 80px);
  text-align: center;
  box-sizing: border-box;
}

.feature-card:hover{
  background-color: #ebf3ff;
  cursor: pointer;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #091f3c;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #1a0f47;
  font-weight: normal;
}

.subscribe-section {
  background-color: #004aad;
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  margin: 20px 40px;
}

.subscribe-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subscribe-section p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.subscribe-button {
  background-color: #fff;
  color: #004aad;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #f1f1f1;
  color: #00337c;
}

.slider-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
}

.slider-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #004aad;
  font-weight: bold;
}

.slider-card {
  background-color: #f0f4ff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 120px;
  text-align: center;
  box-sizing: border-box;
}

.slider-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #004aad;
  margin-bottom: 10px;
}

.slider-card p {
  font-size: 0.9rem;
  color: #333;
  font-weight: normal;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .feature-card {
    width: calc(50% - 20px);
  }

  .connectivity-section {
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
  }

  .connectivity-content,
  .connectivity-image {
    flex: unset;
    padding: 0;
    max-width: 100%;
  }

  .connectivity-content {
    margin-bottom: 20px;
  }

  .connectivity-image img {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .feature-card {
    width: calc(100% - 20px);
  }

  .connectivity-image img {
    max-width: 80%;
  }
}
