.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.logo {
  width: 150px; /* Adjust size as needed */
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.registerForm label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 10px;
}

.registerForm input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registerForm button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #004aad;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.registerForm button:disabled {
  background-color: #cccccc; /* Disabled button color */
  cursor: not-allowed; /* Disabled cursor */
}

.registerForm button:hover:enabled {
  background-color: #00337c;
  transform: scale(1.05);
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 0.875rem;
}

.message {
  color: green;
  margin-top: 10px;
}
