.registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.registerBox {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  position: relative;
}

.logoContainer {
  margin-bottom: 20px;
}

.logo {
  width: 150px;
}

.registerBox h1 {
  margin-bottom: 20px;
  color: #004aad;
}

.inputField {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: #004aad;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00337c;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}
