.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #004aad;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.header-container.scrolled {
  background-color: #00337c;
  padding: 10px 0px;
}

.header-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-nav {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center; /* Center the nav items */
  flex: 1; /* Allow the nav to take up remaining space */
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.header-nav a:hover {
  color: #ffcc00;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.header-login {
  background-color: #ffcc00;
  margin-right: 20px; /* Ensure space from the right edge */
  color: #004aad;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.header-login:hover {
  background-color: #ffd633;
  color: #00337c;
  transform: translateY(-5px);
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  margin: 10px;
}

.header-nav.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  background-color: #004aad;
  padding: 20px 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 999;
}

.header-nav a {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .header-login {
    display: none; /* Hide login link in mobile view */
  }
}
