.loginPageContainer {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.loginForm h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #004aad;
}

.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: #004aad;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #00337c;
}

.registerLink {
  margin-top: 20px;
  color: #333;
}

.registerLink a {
  color: #004aad;
  text-decoration: none;
  font-weight: bold;
}

.registerLink a:hover {
  text-decoration: underline;
}

.backToHome {
  margin-top: 20px;
  color: #333;
}

.backToHome a {
  color: #004aad;
  text-decoration: none;
}

.backToHome a:hover {
  text-decoration: underline;
}
